<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358984921916-3a6k0ovno3rhlnb4aqrp7q4efq1cirt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358984921916-3a6k0ovno3rhlnb4aqrp7q4efq1cirt1</string>
	<key>API_KEY</key>
	<string>AIzaSyCYh4JZsilnTKTABLHzLRa4rP3Z9yD4Ceg</string>
	<key>GCM_SENDER_ID</key>
	<string>358984921916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.app</string>
	<key>PROJECT_ID</key>
	<string>work-7be4d</string>
	<key>STORAGE_BUCKET</key>
	<string>work-7be4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358984921916:ios:4d746d970c9f879b2de439</string>
</dict>
</plist>